Checks: 'bugprone-*,
         cert-*,
         clang-analyzer-*,
         cppcoreguidlines-*,
         misc-*,
         modernize-*,
         performance-*,
         readability-*,
         -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
         -modernize-use-trailing-return-type'
