version: '1.0.{build}-{branch}'

clone_folder: c:\projects\gsd

image: Visual Studio 2015

environment:
  PYTHONPATH: c:\projects\gsd\build
  CONDA:

platform:
  - x64

configuration: Release

install:
  - ps: C:\Miniconda35-x64\Scripts\conda install -y numpy cython

before_build:
  - ps: mkdir build
  - ps: cd build
  - ps: cmake ../ -G "Visual Studio 14 2015 Win64" -DPYTHON_EXECUTABLE=C:\Miniconda35-x64\python
