version: '1.0.0.{build}-{branch}'

clone_folder: c:\projects\gsd

image: Visual Studio 2015

environment:
  PYTHONPATH: c:\projects\gsd\build
  CONDA:

platform:
  - x64

configuration: Release

install:
  - ps: C:\Miniconda35-x64\Scripts\conda install -q -y numpy cython nose

before_build:
  - ps: mkdir build
  - ps: cd build
  - ps: cmake ../ -G "Visual Studio 14 2015 Win64" -DPYTHON_EXECUTABLE=C:\Miniconda35-x64\python

test_script:
  - ps: cp .\gsd\Release\*.pyd gsd\
  - ps: cd ..
  - cmd: C:\Miniconda35-x64\Scripts\nosetests --with-xunit

after_test:
  - ps: $wc = New-Object 'System.Net.WebClient'
  - ps: $wc.UploadFile("https://ci.appveyor.com/api/testresults/xunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path C:\projects\gsd\nosetests.xml))
