name: Style check

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  # Trigger on pull requests.
  pull_request:

  # Trigger on pushes to the mainline branches and version tags. This prevents building commits
  # twice when the pull request source branch is in the same repository.
  push:
    branches:
      - "trunk-patch"
      - "trunk-minor"
      - "trunk-major"

  # Trigger on request.
  workflow_dispatch:

jobs:
  clang-tidy:
    name: Run clang-tidy
    runs-on: ubuntu-latest
    container:
      image: glotzerlab/ci:2021.11-clang10_py38
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Configure
        run: cmake -B build
      - name: Execute clang-tidy
        run: clang-tidy -p=build gsd/*.c gsd/*.h scripts/*.cc --quiet --warnings-as-errors="*"

  # This job is used to provide a single requirement for branch merge conditions.
  checks_complete:
    name: Style check
    needs: [clang-tidy]
    runs-on: ubuntu-latest

    steps:
      - run: echo "Done!"
